*.mp4
*.jpg
logs
__pycache__
*.pkl
# ConDexEnvs
ExpertDatasets
.history
*.png
.vscode
# pointnet2
pointnet2_pytorch
pointnet2_cuda.tar.gz
Debug
.tensorboard-info
tmp.*
Models
old_logs
useful_logs

ConDexEnv/videos
ConDexEnv/isaacgymenvs/logs
ConDexEnv/*train_dir*
ConDexEnv/*ige_logs*
ConDexEnv/*.egg-info
ConDexEnv/.vs
ConDexEnv/.vscode
ConDexEnv/_package
ConDexEnv/shaders
ConDexEnv/._tmptext.txt
ConDexEnv/__pycache__/
ConDexEnv/isaacgymenvs/tasks/__pycache__
ConDexEnv/isaacgymenvs/utils/__pycache__
ConDexEnv/isaacgymenvs/tasks/base/__pycache__
ConDexEnv/tools/format/.lastrun
ConDexEnv/*.pyc
ConDexEnv/_doxygen
ConDexEnv/rlisaacgymenvsgpu/logs
ConDexEnv/isaacgymenvs/benchmarks/results
ConDexEnv/isaacgymenvs/simpletests/results
ConDexEnv/*.pxd2
ConDexEnv/tests/logs
ConDexEnv/isaacgymenvs/balance_bot.xml
ConDexEnv/isaacgymenvs/quadcopter.xml
ConDexEnv/isaacgymenvs/ingenuity.xml
ConDexEnv/logs*
ConDexEnv/nn/
ConDexEnv/runs/
ConDexEnv/.idea
ConDexEnv/outputs/
ConDexEnv/*.hydra*
ConDexEnv/isaacgymenvs/wandb
ConDexEnv/assets/objects
ConDexEnv/assets/dexgraspnet_dataset
ConDexEnv/assets.tar.gz
ConDexEnv/assets/objects.tar.gz
ConDexEnv/assets/dexgraspnet_dataset.tar.xz
ConDexEnv/assets/gripper_model.zip
ConDexEnv/assets/objects.tar.gz
ConDexEnv/assets/shadow_hand.zip
ConDexEnv/assets/sr_grasp_description.zip
ConDexEnv/assets/datasetv4.1
ConDexEnv/assets/datasetv4.1.tar.gz

Ckpt